/* XS ==> Extra Small Devices (Smart Watches & Small Phones) */
@media all and (width < 640px) {
    body {
        height: auto;
        padding: 20px;
    }

    main {
        padding: 15px;
    }

    main input {
        width: 80%;
    }

    main .weather-cards {
        margin: 0px;
        flex-direction: column;
        align-items: center;
    }

    .outer {
        width: 100%;
    }

    .inner {
        margin: 5px;
    }
}


/* SM ==> Small Devices (Smartphones) */
@media all and (640px <=width < 768px) {
    body {
        height: auto;
        padding: 20px;
    }

    main .weather-cards {
        width: 95%;
        margin: 0px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .outer {
        width: 100%;
        padding: 5px;
    }
}


/* MD ==> Medium Devices (Tablets & Small Laptops) */
@media all and (768px <=width < 1024px) {
    main {
        padding: 20px;
    }

    main .weather-cards {
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    .outer {
        width: 33.333333%;
        padding: 5px;
    }

    .inner {
        margin-inline: 0px;
        padding: 20px;
    }

    .first-day .title .date {
        margin-left: 5px;
    }
}


/* LG ==> Large Devices (Standard Laptops & Landscape Tablets) */
@media all and (1024px <=width < 1280px) {
    main {
        padding: 20px;
    }

    main .weather-cards {
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    .outer {
        width: 33.333333%;
        padding: 5px;
    }

    .inner {
        margin-inline: 0px;
        padding: 20px;
    }

    .first-day .title .date {
        margin-left: 15px;
    }
}