/* ================= Global Style Settings ================= */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0px solid transparent;
}

*::selection {
    color: #0d1a36;
    background-color: wheat;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

/* ========================================================= */
body {
    height: 100dvh;
    background: radial-gradient(125% 125% at 50% 90%, #000000 40%, #0d1a36 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

main {
    width: 85%;
    margin-inline: auto;
    padding: 20px;
    border: 2px solid wheat;
    border-radius: 30px;
    color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .header {
    font-size: 2.5rem;
}

main input {
    width: 70%;
    margin: 10px 0px;
    padding: 10px;
    border: 2px solid wheat;
    border-radius: 10px;
    color: wheat;
    background-color: #19191917;
    font-size: 1rem;
    font-weight: 600;
    font-family: monospace;
    transition: all 0.2s;
}

main input::placeholder {
    color: wheat;
    font-size: 1rem;
    font-family: monospace;
}

main input:hover {
    border: 2px solid darkorange;
}

main button {
    padding: 10px;
    border: 2px solid wheat;
    border-radius: 10px;
    color: wheat;
    background-color: #19191917;
    font-size: 1.5rem;
    font-family: monospace;
    cursor: pointer;
    transition: all 0.2s;
}

main button:hover {
    border: 2px solid darkorange;
}

main .weather-cards {
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.outer {
    width: 33.33333%;
    padding: 5px;
}

.outer h1,
.outer h2 {
    color: darkorange;
}

.inner {
    height: 100%;
    padding: 20px;
    border: 2px solid wheat;
    border-radius: 10px;
    background-color: #19191917;
    text-align: center;
    transition: all 0.2s;
}

.inner:hover {
    border: 2px solid darkorange;
}

.first-day .title {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.first-day .status {
    display: flex;
    justify-content: center;
}

.first-day .status div {
    margin: 10px;
}

.first-day .details,
.second-day .details,
.third-day .details {
    font-size: 1.2rem;
}

.second-day .title,
.third-day .title {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

/* ========================================================= */