/* ================= Global Style Settings ================= */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0px solid transparent;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

ul {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

/* ========================================================= */
body {
    background-image: url(../images/london.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

*::selection {
    background-color: #ff8c0066;
}

main {
    width: 85%;
    margin-inline: auto;
    padding: 20px;
    background-color: #19191917;
    backdrop-filter: blur(7px);
    border: 1px solid wheat;
    border-radius: 30px;
    color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .header {
    font-size: 2.5rem;
}

main input {
    width: 70%;
    padding: 10px;
    margin: 10px 0px;
    border: 2px solid wheat;
    border-radius: 10px;
    color: wheat;
    background-color: #19191917;
    font-size: 1rem;
}

main input::placeholder {
    font-size: 1rem;
    color: wheat;
}

main button {
    color: wheat;
    background-color: #19191917;
    border: 2px solid wheat;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

main button:hover {
    color: #ff8c0066;
    border: 2px solid #ff8c0066;
}

.weather-cards {
    padding: 10px;
    margin: 10px 0px;
    width: 80%;
    display: flex;
    justify-content: center;
    /* background-color: teal */
}

.outer {
    width: 33.33333%;
}

.outer h1,
.outer h2 {
    color: darkorange;
}

.inner-card {
    height: 100%;
    text-align: center;
    margin-inline: 10px;
    padding: 20px;
    background-color: #19191917;
    border: 2px solid wheat;
    /* font-size: 1.5rem; */
    border-radius: 10px;
    transition: all 0.2s;

}

.inner-card:hover {
    border: 2px solid #ff8c0066;
}

.first-day .title {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

.first-day .status {
    display: flex;
    justify-content: center;
}

.first-day .status div {
    margin: 10px;
}

.first-day .details,
.second-day .details,
.third-day .details {
    font-size: 1.2rem;
}

.second-day .title,
.third-day .title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}